@-ms-viewport {
  width: device-width; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }


.horizontal-scroll {
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }
.item2 {
    display: inline-block;
    text-align: center;
    width: 40%;
    padding: 20px;
  }

.item3 {
      display: inline-block;
      text-align: center;
      width: 110%;
      padding: 30px;

    }
